<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular, usualmente en Common Module</p>
</div>
<div class="grid">
  <div class="col md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionMapa }} a nuestro evento
      </p>
      <button
        pButton
        (click)="cambiarPersona()"
        label="Cambiar persona"
        class="p-button-help"
      ></button>
    </p-fieldset>
  </div>
  <div class="col md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente {{ clientes.length | i18nPlural: clientesMapa }} cliente
        esperando.
      </p>
      <button
        pButton
        (click)="borrarCliente()"
        label="Borrar Cliente"
        class="p-button-danger"
      ></button>
    </p-fieldset>
  </div>
</div>
